
<br>
<tr>
    <td style="padding: 0px 20px;">
        <p>欢迎您/Welcome <%= @mail[:name] %>,
    </td>
</tr>
<%= @mail %>
<tr>
    <td valign="middle" style="line-height:24px;padding: 15px 20px;">
      <p>
        请点击以下按钮激活账户:<br>
        You can confirm your account email through the button below:
      </p>
    </td>
</tr>
<tr>
    <td class="content">
    <table cellpadding="0" cellspacing="0" role="presentation">
        <tbody><tr>
            <td style="mso-line-height-rule: exactly; mso-padding-alt: 16px 24px; border-radius: 4px; background-color: #7367f0; font-family: Montserrat, -apple-system, 'Segoe UI', sans-serif;">
                <a href="<%=@mail[:url]%>" style="font-family: 'Montserrat', sans-serif; mso-line-height-rule: exactly; display: block; padding-left: 24px; padding-right: 24px; padding-top: 16px; padding-bottom: 16px; font-size: 16px; font-weight: 600; line-height: 100%; color: #ffffff; text-decoration: none;">激活账户→</a>
            </td>
            </tr>
        </tbody>
    </table>
    </td>
</tr>

<tr>
  <td class="content">
    <p>

      或复制以下地址到浏览器上访问 <br>
      Or copy the following address to the browser.
    </p>
    <a href="<%=@mail[:url]%>" style="font-family: 'Montserrat', sans-serif; mso-line-height-rule: exactly; margin-bottom: 24px; display: block; font-size: 16px; line-height: 100%; color: #7367f0; text-decoration: none;"><%=@mail[:url]%></a>
  </td>
</tr>

<tr>
    <td style="padding:10px 0;">
        <p class="text-muted">如果您未注册账号，请忽略这封邮件。</p>
    </td>
</tr>
<br>
