<div class="flex-fill d-flex flex-column justify-content-center py-4">
  <div class="container-tight py-6">
    <div class="text-center mb-4">
      <a href="."><img src="<%= Setting.logo  %>" height="48" alt=""></a>
    </div>
    <form class="card card-md" id="new_user1" action="/password" accept-charset="UTF-8"  method="post">
      <%= form_token %>
      <div class="card-body  p-6">

        <h2 class="card-title text-center mb-4">Forgot your password/忘记密码?</h2>
        <p class="text-muted">Enter your email address and your password will be reset and emailed to you.</p>

        <%= notices_message %>
        <div class="mb-3">
          <label class="form-label">Email address</label>

           
          <input data-parsley-type="email" class="form-control" name="user[email]" autocomplete="on"  aria-describedby="emailHelp"   id="email"  placeholder="Enter email"required/>
        </div>

        <div class="form-footer">
          <button type="submit" class="btn btn-primary w-100">Send me new password</button>
        </div>
      </div>
    </form>


    <div class="text-center text-muted mt">
      Don't have account yet? 
      <a href="<%= new_registration_path(resource_name) %>" id="register-btn" class="uppercase">Create an account</a> Or <a href="/login">Sign in</a>
    </div>
  </div>
</div>

<%= render "layouts/footer"%>